<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schoolify - Classes with Marks</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<style>
    .grade-tile {
        display: inline-block;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        color: white;
        font-size: 1em;
        text-align: center;
        min-width: 30px;
        cursor: pointer;
    }

    .grade-1 {
        background-color: #F44336;
    }

    .grade-2 {
        background-color: #FF9800;
    }

    .grade-3 {
        background-color: #FFC107;
    }

    .grade-4 {
        background-color: #8BC34A;
    }

    .grade-5 {
        background-color: #4CAF50;
    }

    .grade-6 {
        background-color: #2196F3;
    }

    .grade-1-plus {
        background-color: #EF5350;
    }

    .grade-2-plus {
        background-color: #FFB74D;
    }

    .grade-3-plus {
        background-color: #FFD54F;
    }

    .grade-4-plus {
        background-color: #AED581;
    }

    .grade-5-plus {
        background-color: #81C784;
    }

    .grade-2-minus {
        background-color: #FB8C00;
    }

    .grade-3-minus {
        background-color: #FFA000;
    }

    .grade-4-minus {
        background-color: #7CB342;
    }

    .grade-5-minus {
        background-color: #43A047;
    }

    .grade-6-minus {
        background-color: #1E88E5;
    }

    .grade-plus {
        background-color: #5aea83;
    }

    .grade-minus {
        background-color: #c71469;
    }
</style>

<body>

<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Marks</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Classes with Marks</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<div class="site-section">

    <div class="table-responsive-class">

        <div class="row mb-4">
            <div class="overview-wrap">
                <h3 class="heading-21921">Schoolify Classes Marks</h3>
            </div>
        </div>
        <div class="modal fade login-block" id="addMark" tabindex="-1" role="dialog"
             aria-labelledby="addMarkModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="addMarkLabel">Add Mark to Student</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/teacher/addMark}" method="post" class="signin-form" th:object="${newMark}"
                          id="addMarkForm">
                        <div class="modal-body">
                            <div class="input-grids">
                                <label class="control-label" for="markLevel">Mark Level</label>
                                <input class="form-control" name="markLevel" id="markLevel" th:field="*{mark}" required
                                       placeholder="Enter mark level">
                                <label class="control-label" for="markDescription">Mark Description</label>
                                <input type="text" class="form-control" name="markDescription" id="markDescription"
                                       th:field="*{description}" required placeholder="Enter mark description">
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <button type="submit" class="btn btn-style btn-style-3">Add Mark</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="modal fade login-block" id="editMark" tabindex="-1" role="dialog"
             aria-labelledby="editMarkModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="editMarkLabel">Edit Mark</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/admin/editMark}" method="post" class="signin-form"
                          th:object="${toEditMark}" id="editMarkForm">
                        <div class="modal-body">
                            <div class="input-grids">
                                <label class="control-label" for="editMarkLevel">Mark Level</label>
                                <input type="text" class="form-control" name="editMarkLevel" id="editMarkLevel"
                                       th:field="*{mark}" required placeholder="Enter mark level">
                                <label class="control-label" for="editMarkDescription">Mark Description</label>
                                <input type="text" class="form-control" name="editMarkDescription"
                                       id="editMarkDescription"
                                       th:field="*{description}" required placeholder="Enter mark description">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <a class="btn btn-style btn-style-4" id="submitDeleteMark"
                           th:href="@{/teacher/deleteMark}">Delete Mark</a>
                        <button id="submitEditMark" class="btn btn-style btn-style-3">Update Mark</button>
                    </div>
                </div>
            </div>
        </div>
        <table th:each="schoolClass: ${schoolClasses}" class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th colspan="3" scope="col" th:text="${schoolClass.name}" class="text-center text-warning">Class Name
                </th>
            </tr>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Student Marks</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${schoolClass.students}">
                <td th:text="${student.name}"></td>
                <td>
                    <th:block th:each="mark : ${marks}">
                    <span th:if="${mark.student.personId == student.personId}">
                        <span th:if="${mark.mark.equals('+')}" class="grade-tile grade-plus"
                              th:text="${mark.mark}"></span>
                        <span th:if="${mark.mark.equals('-')}" class="grade-tile grade-minus"
                              th:text="${mark.mark}"></span>
                        <th:block
                                th:if="${!mark.mark.equals('+') and !mark.mark.equals('-') and !mark.mark.equals('0')}">
                            <span th:if="${mark.mark.contains('-')}"
                                  th:classappend="'grade-tile grade-' + ${mark.mark.substring(0, 1)} + '-minus'"
                                  th:text="${mark.mark}">
                            </span>
                            <span th:if="${mark.mark.contains('+')}"
                                  th:classappend="'grade-tile grade-' + ${mark.mark.substring(0, 1)} + '-plus'"
                                  th:text="${mark.mark}">
                            </span>
                            <span th:if="${!mark.mark.contains('-') and !mark.mark.contains('+')}"
                                  th:classappend="'grade-tile grade-' + ${mark.mark}"
                                  th:text="${mark.mark}">
                            </span>
                        </th:block>
                        <span hidden="hidden" class="mark-description" th:data-mark-id="${mark.markId}"
                              th:text="${mark.description}"></span>
                    </span>
                    </th:block>
                </td>
                <td>
                    <a hidden="hidden" class="btn btn-info view-mark-btn"
                       data-bs-toggle="modal" data-bs-target="#editMark">VIEW</a>
                    <a class="btn btn-info add-mark-btn"
                       data-bs-toggle="modal" data-bs-target="#addMark"
                       th:onclick="'setStudentId(' + ${student.personId} + ')'">ADD MARK</a>
                </td>
            </tr>
            <tr th:if="${schoolClass.students.isEmpty()}">
                <td colspan="3" class="text-center">No students assigned to the class!</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 login-center text-start">
        <a th:href="@{/dashboard}">
            <button class="btn btn-style btn-style-3 text-left">BACK</button>
        </a>
    </div>
</div>

<!-- footer block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer block -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function setStudentId(studentId) {
        const form = document.getElementById('addMarkForm');
        form.action = '/teacher/addMark?studentId=' + studentId;
    }

    document.addEventListener("DOMContentLoaded", function () {
        const gradeTiles = document.querySelectorAll(".grade-tile");
        gradeTiles.forEach(tile => {
            tile.addEventListener("click", function () {
                const markLevel = this.textContent.trim();
                const markDescription = this.nextElementSibling.textContent.trim();
                const markId = this.nextElementSibling.getAttribute("data-mark-id");
                const viewButton = document.querySelector(".view-mark-btn");
                const editForm = document.getElementById("editMarkForm");

                document.getElementById("editMarkLevel").value = markLevel;
                document.getElementById("editMarkDescription").value = markDescription;
                document.getElementById("submitDeleteMark").href = `/teacher/deleteMark?markId=${markId}`;

                editForm.action = `/teacher/editMark?markId=${markId}`;
                document.getElementById("submitEditMark").addEventListener("click", function () {
                    document.getElementById("editMarkForm").submit();
                });

                viewButton.click();
            });
        });
    });
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="/assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->
</body>

</html>